{% extends "template_base.html" %}

{% block title %}Editar Característica{% endblock %}

{% block content %}
    <h1 class="text-black-50 font-weight-bold">Editar Característica</h1>
    <p class="text-secondary font-weight-bold">Modifica los detalles de la característica.</p>

    <form method="POST">
        <div class="form-group">
            <label for="tipo">Tipo:</label>
            <input type="text" name="tipo" class="form-control" value="{{ caracteristica.tipo }}" required>
        </div>
        <div class="form-group">
            <label for="descripcion">Descripción:</label>
            <input type="text" name="descripcion" class="form-control" value="{{ caracteristica.descripcion }}" required>
        </div>
        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
    </form>
{% endblock %}
