{% extends "template_base.html" %}

{% block content %}
    <h1 class="text-black-50 font-weight-bold">Editar Accesorio</h1>
    
    <form action="{{ url_for('editar_accesorio', id=accesorio.id) }}" method="post">
        <div class="form-group">
            <label for="nombre">Nombre del Accesorio:</label>
            <input type="text" id="nombre" name="nombre" class="form-control" value="{{ accesorio.nombre }}" required>
        </div>
        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
    </form>
{% endblock %}
