{% extends "template_base.html" %}

{% block title %}Marcas{% endblock %}

{% block content %}
    <h1 class="text-black-50 font-weight-bold">Marcas</h1>
    <p class="text-secondary font-weight-bold">Gestiona las marcas en el sistema.</p>
    
    <!-- Botón para agregar una nueva marca -->
    <a href="{{ url_for('nuevo_marca') }}" class="btn btn-primary mb-3">Agregar Marca</a>
    
    <!-- Tabla para mostrar las marcas -->
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for marca in marcas %}
            <tr>
                <td>{{ marca.id }}</td>
                <td>{{ marca.nombre }}</td>
                <td>
                    <a href="{{ url_for('editar_marca', id=marca.id) }}" class="btn btn-warning btn-sm">Editar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
