<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mi Aplicación{% endblock %}</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- CSS personalizado -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body class="d-flex flex-column min-vh-100">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Mi Aplicación</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <!-- Menú desplegable -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle btn btn-warning text-dark font-weight-bold mx-1" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Categorias
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/equipos">Equipos</a>
                        <a class="dropdown-item" href="/modelos">Modelos</a>
                        <a class="dropdown-item" href="/marcas">Marcas</a>
                        <a class="dropdown-item" href="/fabricantes">Fabricantes</a>
                        <a class="dropdown-item" href="/caracteristicas">Características</a>
                        <a class="dropdown-item" href="/stock">Stock</a>
                        <a class="dropdown-item" href="/proveedores">Proveedores</a>
                        <a class="dropdown-item" href="/accesorios">Accesorios</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-4 text-white flex-grow-1">
        {% block content %}{% endblock %}
    </div>

    <footer class="footer text-white py-4 mt-auto">
        <div class="container text-center">
            <span>&copy; 2024 Mi Aplicación. Desarrollado por Di Marquez-Druetta. Todos los derechos reservados.</span>
        </div>
    </footer>

    <!-- JavaScript dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- JavaScript personalizado -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>

